.title{
    -fx-font-size: 20
}

.assignment-button{

}

.text-area {
    text-area-background: white;
    -fx-background-color: text-area-background;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.text-area .scroll-pane {
    -fx-background-color: text-area-background;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: text-area-background;
}


.text-area .scroll-pane .content{
    -fx-background-color: text-area-background;
}